{% extends 'base.html.twig' %}

{% block title %}Episodes
{% endblock %}

{% block body %}
	<div class="media">
		<div class="media-body">
			<ul>
				<li>
					<p>Série:
						{{ program.title }}</p>
				</li>
				<li>
					<p>Saison Numéro:{{ season.number }}</p>
				</li>
				<li>
					<p>Numéro et titre de l'épisode:
						{{ episode.number }}
						-
						{{  episode.title }}</p>
				</li>
				<li>
					<p>Résumé:
						{{ episode.synopsis }}</p>
				</li>
			</ul>
		</div>
	</div>
	<a href="{{ path('program_index') }}">
		Retour à la liste des séries
	</a>
{% endblock %}
